.topnav {
    display: inline-block;
    background-color: #ffffff;
    overflow: hidden;
    padding: 14px;

}

.topnav a {
    
    float: left;
    color: gray;
    margin-top: 30px;
    text-align: center;
    padding: 6px 3px;
    text-decoration: none;
    font-size: 8px;

    opacity: 0.6;
    transition: 0.3s;

}

.topnav a:hover {
    color: black;
    opacity: 1;
}

.topnav a.active {
    background-color: grey;
    color: white;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 125px;
    height: 125px;
    margin-right: 3px;
    
}

.logoshop {
    display: inline-block;
    vertical-align: top;
    width: 15x;
    height: 15px;

    opacity: 0.4;
    transition: 0.3s;

}

.logoshop:hover{
    
    opacity: 1;

}

.links {

    overflow: hidden;
    float: right;
    
    margin-right: 10px;
    text-align: center;
    padding: 6px 3px;
    
}

.links a {
    
    float: right;

    margin-top: 35px;
    text-align: center;
    padding: 3px 6px;
    text-decoration: none;
    font-size: 17px;

}


img {
    max-width: 100%;
    display: block;
}

@media screen and (max-width: 800px) {

    .links, .topnav { 
        width: 30%;
    }
    
    
}